@import url('https://fonts.googleapis.com/css?family=Press+Start+2P')

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Press Start 2P', Arial, sans-serif


html, body
  width 100%
  height 100%
  overflow hidden
  color #FFFFFF
  background-color #070c15


body
  display flex
  align-items center


canvas
  margin auto


#pre-loader
  position fixed
  display flex
  justify-content center
  align-content center
  flex-direction column
  width 100%
  height 100%
  background #000


#pre-loader h1,
#pre-loader p
  color #eee
  text-align center


#pre-loader .loader
  margin 1rem auto
  width 300px
  height 30px
  background #eee


#pre-loader .loader .inner
  height 100%
  width 0
  background #35bb5d
  transition width .2s ease


#highscore-container
  display none
  position fixed
  top 20px
  left calc(50% - 100px)
  z-index 2
  padding 7px 15px
  width 200px
  text-align center
  background rgba(0, 0, 0, .65)
  color #fff
  font-size .5rem

  #highscore
    color #257AE3


#view__gameover
  display none
  justify-content center
  align-items center
  flex-direction column
  position fixed
  left 0
  right 0
  margin 0 auto
  width 677px
  height 100%
  opacity 0
  transition opacity .1s ease-in
  color #FFFFFF

  h1
    font-size 2rem
    text-transform uppercase

  button
    padding 10px 20px
    margin-top 4rem
    border none
    background-color #257AE3
    color #fff
    font-size 1rem
    cursor pointer
    transition color .1s ease-in-out, background-color .1s ease-in-out

    &:hover, &:active
      background-color #fff
      color #257ae3

  &.show
    opacity 1
    background-color rgba(10, 49, 97, 0.6)

  .inner
    margin-top -25%
    display flex
    align-content center
    align-items center
    flex-direction column

  #endscore
    margin-top 2rem
    color #257AE3
    font-size 5rem
    font-weight 900

  #newhighscore
    display none
    margin-top 2rem

@media only screen and (max-width: 768px)
  h1
    font-size 1.5rem

  #view__gameover
    #endscore
      font-size 3rem

    h1
      font-size 1.5rem